This is an Astro (https://astro.build/) project.
For scripts and node modules we use Bun (https://bun.sh/).
Project uses Tailwind CSS (https://tailwindcss.com/) for styling.
For content we use Astro Content Layer (https://docs.astro.build/en/reference/configuration-reference/#experimentalcontentlayer)
The project now runs on NodeJS. It uses Node.js for the backend.
The project is deployed using Docker (https://www.docker.com/).

Don't be lazy, write all the code to implement features I ask for.
