---
import Section from '~/components/layout/section.astro'
import OutboundLink from '~/components/ui/outbound-link.astro'
import { obfuscate } from '~/utils/obfuscate'
---

<Section title="Contact">
  <p class="mb-3" set:html={obfuscate('me@casperengelmann.com')} />

  <ul>
    <li>
      <OutboundLink href="https://github.com/casperengl/">GitHub</OutboundLink>
    </li>
    <li>
      <OutboundLink href="https://www.linkedin.com/in/casperengl/">LinkedIn</OutboundLink>
    </li>
    <li>
      <OutboundLink href="https://twitter.com/casperengl">Twitter</OutboundLink>
    </li>
  </ul>
</Section>
