---
import { getCollection } from 'astro:content'
import dayjs from 'dayjs'
import Section from '~/components/layout/section.astro'
import JobExperience from '~/components/ui/job-experience.astro'

const experiences = await getCollection('experience')
const sortedExperiences = experiences.toSorted((a, b) =>
  dayjs(b.data.startDate).isAfter(dayjs(a.data.startDate)) ? 1 : -1
)
---

<Section title="Experience">
  <div class="space-y-0">
    {
      sortedExperiences.map(async (experience, index) => {
        const { Content } = await experience.render()
        return (
          <div class:list={[
            "py-4 border-l-2 border-neutral-300 dark:border-neutral-500 pl-4",
            index > 0 && "border-t border-t-neutral-100 dark:border-t-neutral-700"
          ]}>
            <JobExperience {...experience.data} />
            <div class="mt-2 text-neutral-600 dark:text-neutral-300">
              <Content />
            </div>
          </div>
        )
      })
    }
  </div>
</Section>
