---
import Section from '~/components/layout/section.astro'
---

<Section id="about" class="py-12 md:py-16">
  <h1 class="text-3xl md:text-4xl font-bold tracking-tight">
    Casper Engelmann
  </h1>

  <p class="text-gray-700 dark:text-gray-300 max-w-xl mt-4">
    I'm a developer living in Denmark. I enjoy watching films, series,
    competitive gaming, and feeding my curious mind.
  </p>
</Section>
