---
import Section from '~/components/layout/section.astro'
import OutboundLink from '~/components/ui/outbound-link.astro'

const projects = [
  {
    title: 'Pendlertjek',
    description: 'Compare commuter tax deduction options in Denmark',
    link: 'https://pendlertjek.vercel.app/',
  },
]
---

<Section title="Projects">
  <ul class="list-['-'] list-inside space-y-2 marker:text-neutral-400 dark:marker:text-neutral-500">
    {
      projects.map((project) => (
        <li>
          <div class="inline-block align-top">
            <OutboundLink href={project.link}>{project.title}</OutboundLink>
            <p class="text-neutral-500 dark:text-neutral-400 text-sm">{project.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</Section>
