---
import Section from '~/components/layout/section.astro'
import OutboundLink from '~/components/ui/outbound-link.astro'

const projects = [
  {
    title: 'Pendlertjek',
    description: 'Compare commuter tax deduction options in Denmark',
    link: 'https://pendlertjek.vercel.app/',
  },
]
---

<Section title="Projects">
  <ul>
    {
      projects.map((project) => (
        <li>
          <OutboundLink href={project.link}>{project.title}</OutboundLink>
          {' - '}
          {project.description}
        </li>
      ))
    }
  </ul>
</Section>
