---
import Section from '~/components/layout/section.astro'
import GithubStarred from '~/components/ui/github-starred.astro'
import Skeleton from '~/components/ui/skeleton.astro'
---

<Section title="Currently Exploring">
  <p class="text-neutral-500 mb-4">My latest starred repos on GitHub</p>
  <GithubStarred server:defer>
    <ul slot="fallback" class="space-y-2">
      {
        Array.from({ length: 10 }).map(() => (
          <li class="flex items-center gap-2">
            <span class="text-neutral-400">-</span>
            <Skeleton class="inline-block w-48 h-5" />
          </li>
        ))
      }
    </ul>
  </GithubStarred>
</Section>
