---
import Section from '~/components/layout/section.astro'
import GithubStarred from '~/components/ui/github-starred.astro'
import Skeleton from '~/components/ui/skeleton.astro'
---

<Section title="Currently Exploring">
  <GithubStarred server:defer>
    <ul slot="fallback" class="list-['-'] list-inside space-y-2 marker:text-neutral-400 dark:marker:text-neutral-500">
      {
        Array.from({ length: 10 }).map(() => (
          <li>
            <Skeleton class="inline-block w-48 h-4 align-middle" />
          </li>
        ))
      }
    </ul>
  </GithubStarred>
</Section>
