---
import Layout from '~/components/layout.astro'
import JobExperience from '~/components/job-experience.astro'
import { getCollection } from 'astro:content'
import dayjs from 'dayjs'

const experiences = await getCollection('experience')
---

<Layout class="space-y-8">
  {
    experiences
      .toSorted((a, b) =>
        // Sort experiences by start date in descending order (most recent first)
        dayjs(b.data.startDate).isAfter(dayjs(a.data.startDate)) ? 1 : -1,
      )
      .map(async (experience) => {
        const { Content } = await experience.render()
        return (
          <section>
            <JobExperience class="mb-2" {...experience.data} />

            <Content />
          </section>
        )
      })
  }
</Layout>
