---
import { CopyEmail } from '~/components/copy-email'
import Layout from '~/components/layout.astro'
import GitHub from '~/pages/_sections/_github.mdx'
import Main from '~/pages/_sections/_main.mdx'
import Me from '~/pages/_sections/_me.mdx'
import { obfuscate } from '~/utils/obfuscate'

const email = 'me@casperengelmann.com'
---

<Layout>
  <div
    class="pr-24 flex flex-wrap gap-x-12 prose max-w-full dark:prose-invert prose-h1:text-2xl dark:prose-headings:text-white dark:prose-p:text-gray-300 dark:prose-li:text-gray-300 dark:prose-a:text-gray-200 dark:hover:prose-a:text-white dark:focus:prose-a:text-white"
  >
    <section class="w-full">
      <div class="max-w-prose">
        <h1>Casper Engelmann</h1>

        <p>
          I'm a frontend developer living in Denmark, in the capital area. I
          enjoy watching films, series, competetive gaming, and feeding my
          curious mind.
        </p>

        <p>
          Professionally I specialise in web apps with a focus on UX values.
        </p>

        <p class="font-bold">
          Attempt to improve UX <em>and</em> DX when possible.
        </p>
      </div>
    </section>

    <section>
      <Main />
    </section>

    <section class="max-w-prose w-full">
      <Me />

      <style>
        :global(details[open]) {
          padding-bottom: 1rem;
        }
      </style>
    </section>

    <section>
      <GitHub />
    </section>

    <footer class="mt-6 mb-24 2xl:col-span-4 w-full">
      <h3>Contact</h3>

      <!-- In case JS is not loaded, show the email anyways -->
      <noscript set:html={obfuscate(email)}></noscript>

      <!-- Enhance email copy experience -->
      <CopyEmail client:visible email={obfuscate(email)} />

      <div
        class="js-manual-copy text-gray-500 text-xs mt-1 max-w-sm cursor-zoom-in select-none"
      >
        <div>
          To protect me from spammers, you will have to copy this yourself.
        </div>
        <div>
          If you have JavaScript enabled, clicking the email will select it.
        </div>
      </div>
    </footer>

    <script is:inline>
      // Allow user to make the manu copy text larger.
      const manualCopy = document.querySelector('.js-manual-copy')

      manualCopy.addEventListener('click', () => {
        if (manualCopy.classList.contains('cursor-zoom-in')) {
          manualCopy.classList.remove('cursor-zoom-in')
          manualCopy.classList.add('cursor-zoom-out')

          manualCopy.classList.remove('text-xs')
          manualCopy.classList.add('text-base')
        } else if (manualCopy.classList.contains('cursor-zoom-out')) {
          manualCopy.classList.remove('cursor-zoom-out')
          manualCopy.classList.add('cursor-zoom-in')

          manualCopy.classList.remove('text-base')
          manualCopy.classList.add('text-xs')
        }
      })
    </script>
  </div>
</Layout>
