:root {
  --light: #F1F5FA;
  --red: #F56565;
  --yellow: #F6E05E;
  --green: #68D391;
  --blue: #89DDFF;
  --indigo: #82AAFF;
  --purple: #C792EA;
  --white: #BFC7D5;
  --gray: #BEC5D4;
  --slate: #697098;
  --dark: #1B2133;
  --black: #292D3E;
  --invis: rgba(0, 0, 0, 0);
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.indigo {
  color: var(--indigo);
}

.purple {
  color: var(--purple);
}

.white {
  color: var(--white);
}

.gray {
  color: var(--gray);
}

.slate {
  color: var(--slate);
}

.dark {
  color: var(--dark);
}

.black {
  color: var(--black);
}

.invis {
  color: var(--invis);
}