---
import ms from 'ms'
import { z } from 'zod'
import OutboundLink from '~/components/outbound-link.astro'
import { getStarredRepos, repoSchema } from '~/services/github'

const { env } = Astro.locals.runtime

const cachedReposData = await env.GITHUB_STARRED.get('starred-repos')
const cachedRepos = cachedReposData
  ? z.array(repoSchema).parse(JSON.parse(cachedReposData))
  : null

let starredRepos = cachedRepos

if (!starredRepos) {
  starredRepos = await getStarredRepos()

  env.GITHUB_STARRED.put('starred-repos', JSON.stringify(starredRepos), {
    expirationTtl: ms('1 hour'),
  })
}
---

<ul>
  {
    starredRepos?.map((repo) => (
      <li>
        <OutboundLink href={repo.html_url}>{repo.full_name}</OutboundLink>
      </li>
    ))
  }
</ul>
