---
import ms from 'ms'
import { z } from 'zod'
import OutboundLink from '~/components/outbound-link.astro'
import { getStarredRepos, repoSchema } from '~/services/github'

const { env } = Astro.locals.runtime

const cachedReposSchema = z.object({
  expiresAt: z.string(),
  repos: z.array(repoSchema),
})

const cachedReposData = await env.GITHUB_STARRED.get('starred-repos')
const cachedRepos = cachedReposData
  ? cachedReposSchema.parse(JSON.parse(cachedReposData))
  : null

let starredRepos = cachedRepos?.repos

if (!starredRepos) {
  starredRepos = await getStarredRepos()

  const expires = ms('1 hour')
  const expiryDate = new Date(Date.now() + expires)
  const body = {
    expiresAt: new Intl.DateTimeFormat('en-GB', {
      dateStyle: 'short',
      timeStyle: 'medium',
      timeZone: 'Europe/Copenhagen',
    }).format(expiryDate),
    repos: starredRepos,
  } satisfies z.infer<typeof cachedReposSchema>

  env.GITHUB_STARRED.put('starred-repos', JSON.stringify(body), {
    expirationTtl: ms('1 hour'),
  })
}
---

<ul>
  {
    starredRepos?.map((repo) => (
      <li>
        <OutboundLink href={repo.html_url}>{repo.full_name}</OutboundLink>
      </li>
    ))
  }
</ul>
