---
import OutboundLink from '~/components/outbound-link.astro'
import { getStarredRepos } from '~/services/github'

const starredRepos = await getStarredRepos()
---

<ul>
  {
    starredRepos?.map((repo) => (
      <li>
        <OutboundLink href={repo.html_url}>{repo.full_name}</OutboundLink>
      </li>
    ))
  }
</ul>
