---
import OutboundLink from '~/components/outbound-link.astro'
import { getStarredRepos } from '~/services/github-starred'

const starredRepos = await getStarredRepos()
---

<ul>
  {
    starredRepos.slice(0, 10).map((repo) => (
      <li>
        <OutboundLink href={repo.html_url}>{repo.full_name}</OutboundLink>
      </li>
    ))
  }
</ul>
