---
import OutboundLink from '~/components/outbound-link.astro'
import { cn } from '~/utils/cn'
import { obfuscate } from '~/utils/obfuscate'

interface Props {
  title?: string
  class?: string
}

const currentPath =
  Astro.url.pathname === '/' ? '/' : Astro.url.pathname.replace(/\/$/, '')
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Astro.props.title || 'Casper Engelmann'}</title>

    <meta
      name="description"
      content="I'm a web developer living in Denmark, in the capital area. I enjoy watching films, series, competetive gaming, and feeding my curious mind."
    />
    <meta name="author" content="Casper Engelmann" />
    <meta
      name="keywords"
      content="web developer, frontend developer, Denmark, web development, React, JavaScript"
    />
    <link rel="canonical" href={Astro.url.href} />

    <style>
      @view-transition {
        navigation: auto; /* enabled! */
      }
    </style>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Casper Engelmann",
        "jobTitle": "Web Developer",
        "url": "https://casperengelmann.com",
        "sameAs": [
          "https://github.com/casperengl/",
          "https://www.linkedin.com/in/casperengl/",
          "https://twitter.com/casperengl"
        ]
      }
    </script>
  </head>
  <body class="m-8 dark:bg-black dark:text-white">
    <header class="flex flex-wrap gap-y-3 gap-x-5 items-center">
      <a href="/" class="text-2xl leading-none font-medium no-underline">
        Casper Engelmann
      </a>

      <nav class="flex gap-2">
        <a
          class:list={[
            'px-3 text-sm py-1.5 rounded transition',
            currentPath.endsWith('/')
              ? 'bg-black/10 dark:bg-white/25'
              : 'bg-black/5 dark:bg-white/15 hover:bg-black/10 dark:hover:bg-white/25',
          ]}
          href="/"
        >
          About
        </a>

        <a
          class:list={[
            'px-3 text-sm py-1.5 rounded transition',
            currentPath.endsWith('/experience')
              ? 'bg-black/10 dark:bg-white/25'
              : 'bg-black/5 dark:bg-white/15 hover:bg-black/10 dark:hover:bg-white/25',
          ]}
          href="/experience"
        >
          Experience
        </a>

        <a
          class:list={[
            'px-3 text-sm py-1.5 rounded transition',
            currentPath.endsWith('/blog')
              ? 'bg-black/10 dark:bg-white/25'
              : 'bg-black/5 dark:bg-white/15 hover:bg-black/10 dark:hover:bg-white/25',
          ]}
          href="/blog"
        >
          Blog
        </a>
      </nav>
    </header>

    <div
      class="prose prose-h1:text-2xl prose-h2:text-xl prose-a:no-underline dark:prose-invert dark:prose-headings:text-white dark:prose-p:text-gray-300 dark:prose-a:text-gray-200 dark:hover:prose-a:text-white dark:focus:prose-a:text-white dark:prose-li:text-gray-300"
    >
      <main class={cn('py-8', Astro.props.class)}>
        <slot />
      </main>

      <footer class="flex flex-wrap gap-x-8 gap-y-4 pt-8 pb-16">
        <div class="flex flex-col">
          <h2>Contact</h2>

          <p set:html={obfuscate('me@casperengelmann.com')} />
        </div>

        <div class="flex flex-col">
          <h2>Links</h2>

          <OutboundLink href="https://github.com/casperengl/">
            <span>github.com/casperengl/</span>
          </OutboundLink>

          <OutboundLink href="https://www.linkedin.com/in/casperengl/">
            <span>linkedin.com/in/casperengl/</span>
          </OutboundLink>

          <OutboundLink href="https://twitter.com/casperengl">
            <span>twitter.com/casperengl</span>
          </OutboundLink>
        </div>
      </footer>
    </div>
  </body>
</html>
