---
import { CopyEmail } from './copy-email'
import { obfuscate } from '~/utils/obfuscate'

const email = 'me@casperengelmann.com'

let { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title || 'Casper Engelmann'}</title>
	</head>
	<body class="dark:bg-black dark:text-white m-8">
		<div
			class="mt-3 prose dark:prose-invert prose-h1:text-2xl dark:prose-headings:text-white dark:prose-p:text-gray-300 dark:prose-li:text-gray-300 dark:prose-a:text-gray-200 dark:hover:prose-a:text-white dark:focus:prose-a:text-white"
		>
			<main>
				<slot />
			</main>

			<footer class="mt-6 mb-24">
				<h3>Contact</h3>

				<!-- In case JS is not loaded, show the email anyways -->
				<noscript set:html={obfuscate(email)}></noscript>

				<!-- Enhance email copy experience -->
				<CopyEmail client:visible email={obfuscate(email)} />

				<div
					class="js-manual-copy text-gray-500 text-xs mt-1 max-w-sm cursor-zoom-in select-none"
				>
					<div>
						To protect me from spammers, you will have to copy this yourself.
					</div>
					<div>
						If you have JavaScript enabled, clicking the email will select it.
					</div>
				</div>
			</footer>

			<script is:inline>
				// Allow user to make the manu copy text larger.
				const manualCopy = document.querySelector('.js-manual-copy')

				manualCopy.addEventListener('click', () => {
					if (manualCopy.classList.contains('cursor-zoom-in')) {
						manualCopy.classList.remove('cursor-zoom-in')
						manualCopy.classList.add('cursor-zoom-out')

						manualCopy.classList.remove('text-xs')
						manualCopy.classList.add('text-base')
					} else if (manualCopy.classList.contains('cursor-zoom-out')) {
						manualCopy.classList.remove('cursor-zoom-out')
						manualCopy.classList.add('cursor-zoom-in')

						manualCopy.classList.remove('text-base')
						manualCopy.classList.add('text-xs')
					}
				})
			</script>
		</div>
	</body>
</html>
