---
import LinkOut from '~/icons/link-out.astro'
---

<a {...Astro.props} target="_blank" rel="noopener noreferrer">
  <span
    class="relative group items-center inline-flex border-b border-transparent pb-[0.5em] leading-none hover:border-gray-200 dark:hover:border-gray-500"
  >
    <slot />

    <LinkOut
      class="absolute right-0 mt-0.5 translate-x-full inline-block w-[1em] h-[1em] -mr-[0.25em]"
    />
  </span>
</a>
