---
import LinkOut from '~/icons/link-out.astro'
---

<a {...Astro.props} target="_blank" rel="noopener noreferrer">
  <LinkOut class="-mt-1 inline-block w-[0.75em] h-[0.75em] mr-0.5" />

  <slot />
</a>
